* {
    background-color: rgb(250, 250, 250);
}

.input {
    background-color: rgb(245, 245, 245);
}

.textarea {
    background-color: rgb(245, 245, 245);
}

body {
    max-width: 800px;
    width: 80%;
    margin: auto;
}

.complement {
    margin-top: 20px;
    margin-bottom: 10px;
}

#input-apartment {
    margin-top: 10px;
}

.control {
    margin-top: 20px;
    margin-bottom: 20px;
}

.calendar {
    margin-top: 20px;
}

.header {
    margin-top: 20px;
}